doctype html
html
    head
        meta(charset="UTF-8")
        title: Hello React!
        script(src="src/react.js")
        script(src="src/react-dom.js")
        script(src="src/marked.js")
        //script(src="node_modules/react/dist/react.js")
        //script(src="node_modules/react-dom/dist/react-dom.js")
    body
        //div(id="example")
        div(id="content")
        script(src="src/tutorial6.js")
        //script(src="src/tutorial5.js")
        //div(id="connmentBox")
        //div(id="connmentBox")
        //script(src="src/helloworld.js")
        //CommentForm
        //CommentList
        //script(src="src/tutorial1.js")
        //script(src="src/tutorial2.js")
        //script(src="src/tutorial3.js")
        //script(src="src/tutorial4.js")



