doctype html
html
    head
        meta(charset="UTF-8")
        title: Hello React!
        script(src="src/react.js")
        script(src="src/react-dom.js")
        script(src="src/jquery.js")
        script(src="src/marked.js")
        //script(src="node_modules/react/dist/react.js")
        //script(src="node_modules/react-dom/dist/react-dom.js")
    body
        h1 Things you own end up own you

        //div(id="example")
        table
          tr
            td: div(id="content")
            td: div(id="content2")
        script(src="src/tutorial16.js")
        //script(src="src/tutorial15.js")
        //script(src="src/tutorial14.js")
        //script(src="src/tutorial13.js")
        //script(src="src/tutorial12.js")
        //script(src="src/tutorial10.js")
        //script(src="src/tutorial9.js")
        //script(src="src/tutorial8.js")
        //script(src="src/tutorial7.js")
        //script(src="src/tutorial6.js")
        //script(src="src/tutorial5.js")
        //div(id="connmentBox")
        //div(id="connmentBox")
        //script(src="src/helloworld.js")
        //CommentForm
        //CommentList
        //script(src="src/tutorial1.js")
        //script(src="src/tutorial2.js")
        //script(src="src/tutorial3.js")
        //script(src="src/tutorial4.js")



